
/*added google fonts to get file to load to github.*/
html, body, .mapwrapper {
    margin: 0;
    padding: 0;
    height: 100%;
}

body, h3 {
	font-family: 'Catamaran', sans-serif;
} 

h1, h2 {
	font-family: 'Philosopher', sans-serif;	
}  

.hulkimg {
	width: 100%;
}



