
/*added google fonts to get file to load to github.*/

/*Do not change this because the Map API needs its Div and 
its container divs to have height defined otherwise it will 
not display*/

* {
  box-sizing: border-box;
}

html, body, .mapwrapper {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poiret One', sans-serif;
}

input {
	font-size: 14px;
	width: 55px;
}
.mapwrapper{
	clear: both;
}

.navwrapper {
	margin: 0 auto;
	height: 55px;
	width: 384px;
}

h1, h2 {
	font-family: 'Roboto Slab', sans-serif;
}

.logo {
	margin: 10px;
}

.logo-image {
	width:100%;
}

.cntr {
	margin: 0 auto;
	text-align: center;
}

.stars {
	margin: 15px 0px 0px 0px;
	padding: 0;
	clear: both;
	width: 100px;
}
.nav-container {
	min-height: 200px;
	height: 200px;
}

.nav-item {
	text-align: center;
	font-family: 'Oswald', sans-serif;
	width: 50px;
	height: 50px;
	margin-bottom: 10px;
	border: 1px solid #ffffff;
	padding: 5px;
	color: #3D3D3D;
	cursor: pointer;
	float: left;
	overflow: hidden;
	margin: 0px 7px 0px 7px;
}

.nav-item:hover {
	transition-duration: 0.25s;
	color:#66CC00; 
}

.nav-item:hover > .nav-text {
	transition-duration: 0.25s;
	color:#66CC00;
}

.nav-item:active {
	transition-duration: 0.25s;
	color:#66CC00;
	background-color: #E2FFD7;
}

.nav-item:active > .icon {
	transition-duration: 0.1s;
	color:#66CC00;
	font-size: 21px;
}

.nav-text {
	visibility: hidden;
}

.sub-menu {
	background-color: #ffffff;
	border: none;
}

.footer {
 	position: absolute;
 	bottom: 0;
 	width: 80%;
 	/* Set the fixed height of the footer here */
 	height: 100px;
}

.icon {
	font-size: 20px;
}

.active-button {
	color:#66CC00;
}

.weather {
	width: 120px;
	font-family: 'Oswald', sans-serif;
	position: absolute;
  	top: 80px;
  	right: 15px;
  	z-index: 99;
}

.weather-row {
	height: 23px;
	width: 60px;
	text-align: center;
}

.current-temp {
	font-size: 32px;
	text-align: center;
	height: 46px;
	width: 60px;
	border-right: 1px solid;
	text-align: center;
}

.fl-l {
	float: left;
}

.fl-r {
	float: right;
}

.navbar-nav>li {
	float: none;
}

.navbar-nav>li>a {
	padding-top: 5px;
	padding-bottom: 5px;
	width: 75px;
 }

 .zip-search {
 	font-family: 'Oswald', sans-serif;
 	padding: 10px;
 	background-color: #e8e8e8;
 	border: 1px solid;
 	text-align: left;
  	width: 160px;
  	position: absolute;
  	top: 20px;
  	right: 20px;
  	z-index: 98;
 }

/*****************************/
/* infowindow customizations */ 
/*****************************/

.gm-style-iw {
	color: #333333;
}

.infoWinContainer { 
	font-family: 'Open Sans Condensed', sans-serif;
	width: 275px;
	height: 175px;
	color: #333333;
 	padding-left: 2px;
 }


.iw-Title { 

	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
	padding: 10px;
	margin-bottom: 5px;
	background-color: #B3DDF2;
	color: white;
} 

.iw-subTitle { 
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16px;
	font-weight: 700;
	padding: 5px 0;
	color: #FF0000; 	
} 

#iw-container .iw-title {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
	font-weight: 400;
	padding: 10px;
	background-color: #48b5e9;
	color: white;
	margin: 0;
	border-radius: 2px 2px 0 0;
}
#iw-container .iw-content {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	margin-right: 1px;
	padding: 15px 5px 20px 15px;
	max-height: 140px;
	overflow-y: auto;
	overflow-x: hidden;
}

.iw-scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: #F5F5F5;
}

.iw-scroll::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.iw-scroll::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #a2c523;
}*/



/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */

@media(max-width:767px){
  .navbar-nav>li>a {
      margin-left: 0px;
	  margin-right: 0px;
  }
}

@media(min-width:768px){
  .navbar-nav>li>a {
      margin-left: -15px;
	  margin-right: -15px;
  }
}

@media(min-width:992px){
  .navbar-nav>li>a {
      margin-left: -15px;
	  margin-right: -15px;
  }
}

@media(min-width:1200px){

	.nav-item{
		font-size: 16px;
		width: 100%;
		text-align: left;
		float: none;
		margin-bottom: 8px;
	}

	.navbar {
		margin-bottom: 100px;
		position: relative;
		min-height: 100%;
	}

	.nav-text {
		visibility: visible;
	}

	.mapwrapper {
		clear:none;
	}

	.navwrapper {
		width: 100%;
		position: relative;
	}

  .navbar-nav>li>a {
      margin-left: -15px;
	  margin-right: -15px;
  }
}

@media (max-width: 1199px) {
  .navbar-header {
      float: none;
      margin: 0 auto;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
      float: none;
      margin: 0 auto;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      text-align: center;
      margin-top:5px;
  }
  .navbar-fixed-top {
      top: 0;
  }
  .navbar-collapse.collapse {
      display: none!important;
      width: 75px;
      margin-left: -15px;
	  margin-right: -15px;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 5px;
      padding-bottom: 5px;
      text-align: center;
  }
  .collapse.in{
      display:block !important;
  }
  .sub-menu{
  	width:75px;
  }
  .footer{
  	width:75px;
  	position: absolute;
    top: 5px;
    right: 15px;
  }
  .weather {
  	position: absolute;
  	top: 265px;
  	right: 15px;
  	z-index: 99;
  }

  .zip-search {
  	text-align: left;
  	width: 160px;
  	position: absolute;
  	top: 200px;
  	right: 15px;
  	z-index: 98;
  }

  .stars {
  	display: block;
  	margin: 0 auto;
  	margin-top: 12px;
  }

  .mapwrapper {
  	position: relative;
	overflow: visible;
  }

  .logo-image{
  	width: 275px;
  }
}
