
/*added google fonts to get file to load to github.*/

/*Do not change this because the Map API needs its Div and 
its container divs to have height defined otherwise it will 
not display*/
html, body, .mapwrapper {
    height: 100%;
}

body, h3 {
	font-family: 'Catamaran', sans-serif;
} 

h1, h2 {
	font-family: 'Philosopher', sans-serif;	
}  

.hulkimg {
	width: 100%;
}



