
/*added google fonts to get file to load to github.*/

/*Do not change this because the Map API needs its Div and 
its container divs to have height defined otherwise it will 
not display*/

* {
  box-sizing: border-box;
}

html, body, .mapwrapper {
    margin: 0;
    padding: 0;
    height: 100%;
}

.mapwrapper{
	clear: both;
}

.navwrapper {
	margin: 0 auto;
	height: 65px;
	width: 390px;
}

h1, h2, body {
	font-family: 'Roboto Slab', sans-serif;
}

hr {
	width: 80%;
	line-height: 12px;
}


.logo {
	margin-top: 10px;
	margin-bottom: 10px;
}

.logo-text {
	line-height: 35px;
	color: #B3DDF2;
}

.cntr {
	margin: 0 auto;
	text-align: center;
}

.stars {
	margin: 10px 0px 0px 0px;
	padding: 0;
	clear: both;
	width: 100px;
}
.navbar {
	min-height: 200px;
	height: 200px;
}

.nav-item {
	margin: 0 auto;
	text-align: center;
	font-size: 16px;
	font-family: 'Oswald', sans-serif;
	width: 50px;
	height: 50px;
	margin-bottom: 10px;
	border: 1px solid;
	padding: 5px;
	color: #3D3D3D;
	border-color: #ffffff;
	border-radius: 7px;
	border-style: double;
	cursor: pointer;
	float: left;
	overflow: hidden;
	margin-right: 15px;
}

.nav-item:hover > .icon {
	transition-duration: 0.25s;
	color:red;
}

.nav-item:active > .icon {
	color:green;
}

.nav-item:active {
	transition-duration: 0.25s;
	color:green;
	background-color: #E2FFD7;
}

.nav-text {
	visibility: hidden;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 80%;
  /* Set the fixed height of the footer here */
  height: 100px;
  visibility: hidden;
}

.footer-item {
	margin: 0 auto;
	font-size: 16px;
	font-family: 'Poiret One', sans-serif;
	width: 80%;
}

.icon {
	font-size: 18px;
}

.icon:hover {
	color:red;
}



/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media(max-width:767px){

}

@media(min-width:768px){



}
@media(min-width:992px){


}

@media(min-width:1200px){

	.nav-item{
		font-size: 16px;
		width: 100%;
		text-align: left;
		float: none;
	}

	.navbar {
		margin-bottom: 100px;
		position: relative;
		min-height: 100%;
	}

	.nav-text {
		visibility: visible;
	}

	.footer {
		visibility: visible;
	}

	.mapwrapper {
		clear:none;
	}

	.navwrapper {
		width: 100%;
		position: relative;
	}

	.stars {
		margin-bottom: 30px;
	}
}
